{{{header}}}
<div class="messenger__home-content-chat-container">
	<div class="messenger__home-content-chat">
		{{#each chatMessages}}
		{{{this}}}
		{{/each}}
	</div>
</div>
{{{sendMessage}}}
{{!-- {{> Sendmessage}} --}}
