<div class="profile__avatarModal-title">
    Загрузите файл
</div>
{{!-- <input type='file' id="getFile" style="display:none"> --}}
{{{input}}}
{{{btnUpload}}}
<div>
    {{{button}}}
    {{!-- <div class="profile__avatarModal-error">Нужно выбрать файл</div> --}}
</div>