.messenger__home-content-header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 25px 1rem;
  background: var(--dark);
  &-user {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-avatar {
    width: 35px;
    height: 35px;
    background: var(--border);
    border-radius: 100%;
    overflow: hidden;
  }

  &-name {
    font-size: 13px;
    color: var(--white);
    span {
      font-size: 8px;
      opacity: 0.6;
    }
  }
}
