<div class='messenger__home-sidebar-chats-chat'>
	<div class='messenger__home-sidebar-chats-chat-avatar'>
		<img
			src='https://static.nationalgeographic.co.uk/files/styles/image_3200/public/Mighty-2048.jpg?w=710&h=400'
			alt='Изображение профиля'
		/>
	</div>
	<div class='messenger__home-sidebar-chats-chat-content'>
		<div class='messenger__home-sidebar-chats-chat-title'>
			<p class='messenger__home-sidebar-chats-chat-name'>{{name}}</p>
			<p class='messenger__home-sidebar-chats-chat-date'>{{dateTime}}</p>
		</div>
		<div class='messenger__home-sidebar-chats-chat-info'>
			<p class='messenger__home-sidebar-chats-chat-text'>{{value}}</p>
			{{#if badge}}
				<span class='messenger__home-sidebar-chats-chat-badge'>{{badge}}</span>
			{{/if}}
		</div>
	</div>
</div>
