<div class="profile__window-avatar">
    <div class="profile__window-avatar-image">
        <img src="{{img}}" alt="Изображение профиля">
    </div>
    <p class="profile__window-avatar-change">
        Поменять<br />аватар
    </p>
</div>

<p class="profile__window-name">{{name}}</p>
{{modal}}